.gallery-section {
  padding: 60px 20px;
  background-color: #ececec;
  text-align: center;
}

.gallery-section h2{
  font-size: 35px;
  margin-bottom: 10px;
  font-family: 'Playfair Display', serif;
  color: #D4AF37;
}


.gallery-description{
  font-size: 16px;
  color: #555;
  margin-bottom: 30px;
}


.gallery-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  padding: 40px 10px;
}

.gallery-item {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}


.gallery-image {
  width: 100%;
  height: 260px;
  object-fit: cover;
  display: block;
  transition: transform 0.3s ease;
  border-radius: 10px;
}


.gallery-item:hover .gallery-image {
  transform: scale(1.05);
}

.view-more-btn {
  margin-top: 25px;
  padding: 10px 25px;
  border-radius: 25px;
  border: none;
  cursor: pointer;

  background: #D4AF37;
  color: white;
  font-weight: 600;

  transition: 0.3s ease;
  margin-bottom: 30px;
}

.view-more-btn:hover {
  background: #b8962f;
}

.gallery-item {
  opacity: 0;
  transform: translateY(10px);
  animation: fadeIn 0.4s ease forwards;
}



@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.video-section {
  padding: 80px 40px;
  background: #f7f7f7;
  text-align: center;
}

.video-section h2 {
  font-size: 36px;
  font-family: 'Playfair Display', serif;
  color: #D4AF37;
  margin-bottom: 10px;
}

.video-description {
  color: #555;
  margin-bottom: 40px;
  font-size: 16px;
}

/* GRID */
.video-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

/* VIDEO CARD */
.video-card {
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  transition: 0.3s ease;
  background: black;
}

.video-card:hover {
  transform: scale(1.03);
}

/* VIDEO */
.video-card video {
  width: 100%;
  height: 220px;
  object-fit: cover;
  display: block;
}


@media (max-width: 768px) {

  .video-section {
    padding: 50px 5px;
  }

  .video-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    padding: 0;
  }

  .video-card video {
    height: 180px;
  }

}




.image-modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.9);

  display: none;
  justify-content: center;
  align-items: center;

  z-index: 9999;
}

.image-modal.active {
  display: flex;
}

.modal-image {
  max-width: 90%;
  max-height: 80%;
}

.close-modal {
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 40px;
  color: white;
  cursor: pointer;
}